<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Source</th>
            <th>Time</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
{% for item in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.source|default('') }}</td>
            <td>{{ item.time|default('') }}</td>
            <td>{{ item.message|default('') }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>